* {
	padding:0;
	margin:0;
	box-sizing: 0;
}

html {
	font-size: 16px;
}
 
body {
	scroll-behavior: smooth;
}
/* fonts */

@font-face {
	font-family: Helvetica_Neue_Roman; /* Имя шрифта */
    src: url(fonts/Helvetica_Neue_Roman.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: Myriad_Pro_Regular; /* Имя шрифта */
    src: url(fonts/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
}

/* page1 */
.header-bg {
	height: 100vh;
	width: 100%;
	background: url("images/pics1/Darken.jpg");
	-moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
	position: relative;
}

header {
	margin: 0 10vw;
	padding-top: 10vh;
}

header a {
	float: left;
	margin-bottom: 11px;
}

header nav {
	float: right;
    font-family: Helvetica_Neue_Roman;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 30px;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

header nav ul
{
	float: left;
}

header nav ul li {
	color: white;
	padding: 14px 27px 14px 27px;
	border: 1px solid transparent;
	list-style: none;
    display: inline; 
}

nav a:active, 
nav a,
nav a:visited,
nav a:hover {
	text-decoration: none;
}

.tranparent-button {
	line-height: 12px;
	color: white;
	border: 1px solid transparent;
	padding: 14px 27px 14px 27px;
	margin-top: -14px;
}



header nav ul li:hover, 
.tranparent-button:hover  {
	border: 1px solid white;
    box-shadow: -1px -1px 2px #000; /* Параметры тени */
	border-radius: 10px;
	border-color: gray;
	cursor: pointer;
}

header nav ul li:active {
	box-shadow: inset 0 0 1em gray;
}

.tranparent-button:active {
	box-shadow: inset 0 0 1em gray;
}
.logo,
.logo:active, 
.logo:hover, 
.logo:visited {
	color: white;
	text-decoration: none;
	font-family: Helvetica_Neue_Roman;
	font-size: 24px;
	line-height: 50px;
}

.logo img {
	float: left;
}


.header-controls {
	text-align: center;
	font-family: Helvetica_Neue_Roman;
	color: white;
	padding-top: 10%;
}

.header-controls h1 {
	font-size: 50px;
}

.header-controls p {
	font-size: 25px;
	margin-bottom: 1em;
}

.header-controls input {
	box-sizing: border-box;
	width: 314px;
	height: 57px;
    border-radius: 5px 0px 0px 5px;
    padding: 2em;
}

.down {
	position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    top: 85%; 
    transition: 0.15s linear;
}
.down:active {
	transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}

.down:visited{
	transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}

.sign-up,
.sign-up:hover,
.sign-up:active,
.sign-up:visited  {
	color: white;
	text-decoration: none;
    text-transform: uppercase;
	font-family: Helvetica_Neue_Roman;
	font-size: 12px;
    border-radius: 0px 5px 5px 0px;
    background-color: #6782c2;
    padding: 22px;
}


/* page2 */

#our_features {
	text-align: center;
	font-family: Myriad_Pro_Regular;
	letter-spacing: 1px;
	font-size: 32px;
}


.our_features .img2 {
	float: right;
	margin: 60px 0px 100px 60px;
	box-shadow: 1px 1px 10px gray;
}

.our_features .img1 {
	padding: 20px 20px 20px 0px;
	display: table-cell;
}

.our_features h2 {
	font-size: 25px;
	font-family: Helvetica_Neue_Roman;
	letter-spacing: 0.5px;
	margin-top: 60px;
	display: table-cell;
	vertical-align: middle;
}


.our_features {
	padding: 100px;
}

.title {
	display: table;
	margin-top: 25vh;
}

.our_features p {
	font-family: Myriad_Pro_Regular;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #827e86;
}

.our_features:after {
	content: "";
	display: block;
	clear: both;
}

/* page 3 */

.integrated_time_tracking {
	position: relative; 
	background: url("images/pics3/Layer.jpg");
	-moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    height:600px;
	color: white;
	font-family: Myriad_Pro_Regular;
	padding-top: 100px;
}

.integrated_time_tracking h2 {
	font-size: 25px;
	font-family: Myriad_Pro_Regular;
	letter-spacing: 0.5px;
}

.integrated_time_tracking .img1 {
	padding: 0px 20px 20px 0px;
	display: table-cell;
}


.integrated_time_tracking p {
	font-size: 15px;
	letter-spacing: 0.5px;
}

.integrated_time_tracking .img2 {
	position: absolute;
	bottom: 0;
	left: 100px;
}

.integrated_time_tracking .img2:after {
	content: "";
	display: block;
	clear: both;
}

.integrated_time_tracking .title {
	display: table;
	text-align: left;
}

.integrated_time_tracking h2 {
	display: table-cell;
	vertical-align: middle;
}

.integrated_time_tracking .left {
	position: absolute;
	left: 60%;
	right: 100px;
}

/* page 4 */

.ios .img2 {
	float: right;
	margin: 60px 0px 100px 60px;
}

.ios .img1 {
	padding: 20px 20px 20px 0px;
	display: table-cell;
}

.ios h2 {
	font-size: 25px;
	font-family: Helvetica_Neue_Roman;
	letter-spacing: 0.5px;
	margin-top: 60px;
	display: table-cell;
	vertical-align: middle;
}


.ios {
	padding: 100px 100px 0px 100px;
}

.title {
	display: table;
	margin-top: 25vh;
}

.ios p {
	font-family: Myriad_Pro_Regular;
	font-size: 15px;
	letter-spacing: 0.7px;
	color: #827e86;
}

.ios:after {
	content: "";
	display: block;
	clear: both;
}


/* footer + reviews */
.reviews {
	text-align: center;
	font-size: 25px;
	font-family: Myriad_Pro_Regular;
	letter-spacing: 0.5px;
	padding: 100px;
}

.reviews h1 {
	font-family: Myriad_Pro_Regular;
	letter-spacing: 1px;
	font-size: 32px;
	margin: -15px auto;
}
