* {
	padding:0;
	margin:0;
	box-sizing: 0;
}

html {
	font-size: 16px;
}

.header-bg {
	height: 100vh;
	width: 100%;
	background: url("images/pics1/Darken.jpg");
	background-size: cover;
	position: relative;
}

header {
	margin: 0 10vw;
	padding-top: 10vh;
}

header a {
	float: left;
	margin-bottom: 11px;
}

header nav {
	float: right;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 30px;
}



header:after {
	content: "";
	display: block;
	clear: both;
}


header nav ul
{
	float: left;
}

header nav ul li:hover, 
.tranparent-button:hover  {
	border: 1px solid white;
    box-shadow: -1px -1px 2px #000; /* Параметры тени */
	border-radius: 10px;
	border-color: gray;
	cursor: pointer;
}

header nav ul li {
	color: white;
	padding: 14px 27px 14px 27px;
	border: 1px solid transparent;
	list-style: none;
    display: inline; }

.tranparent-button {
	line-height: 12px;
	color: white;
	border: 1px solid transparent;
	text-decoration: none;
	padding: 14px 27px 14px 27px;
	margin-top: -14px;
}

.logo,
.logo:active, 
.logo:hover, 
.logo:visited {
	color: white;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 24px;
	line-height: 50px;
}

.logo img {
	float: left;
}


.header-controls {
	text-align: center;
	font-family: Helvetica;
	color: white;
	padding-top: 10%;
}

.header-controls h1 {
	font-size: 50px;
}

.header-controls p {
	font-size: 25px;
	margin-bottom: 1em;
}

.header-controls input {
	box-sizing: border-box;
	width: 314px;
	height: 57px;
    border-radius: 5px 0px 0px 5px;
    padding: 2em;
}

.down {
	position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    top: 85%;
}

.sign-up,
.sign-up:hover,
.sign-up:active,
.sign-up:visited  {
	color: white;
	text-decoration: none;
    text-transform: uppercase;
	font-family: Helvetica;
	font-size: 12px;
    border-radius: 0px 5px 5px 0px;
    background-color: #6782c2;
    padding: 22px;
}